# Ignore tout
*

# N'ignorez pas ces trois fichiers
!analyser/analyser.ml
!analyser/analyser.mli
!analyser/simplifier.ml
!analyser/type_analyser.ml
!parser/Lexer.mll
!parser/Parser.mly
!README.md
!.gitignore
